<html>
<head>
    <title>Simple Flask TODO app in Python Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script  type = "text/javascript">
      function redirect(link) {
        window.location.href = link;
     }
    </script>
</head>
  <body>
  <div class="container">
    <h2 class="display-2">Dapp</h2>
    <form method="POST" action="/">
        <div>
          <input type="radio" class="radio" name="option" value="1" id="create" onclick="getOptionValue()" checked/>
          <label for="create">Create</label>
          <input type="radio" class="radio" name="option" value="2" onclick="getOptionValue()" id="read" />
          <label for="read">Read</label>
          <input type="radio" class="radio" name="option" value="3" onclick="getOptionValue()" id="update"/>
          <label for="create">Update</label>
          <input type="radio" class="radio" name="option" value="4" onclick="getOptionValue()" id="delete" />
          <label for="read">Delete</label>
        </div>
        <div class="input-group mb-3">
            <input type="text" name="id" class="form-control" placeholder="Insert id" autocomplete="off" required>
            <div class="input-group-append submit-read-and-delete" id="button-addon-read-and-delete" style="display: none;">
              <button class="btn btn-outline-primary" type="submit" value="update">Submit</button>
            </div>
        </div>
        <div class="input-group mb-3" id="form-create-and-update">
            <input type="text" name="text" class="form-control" placeholder="Insert data" autocomplete="off">
            <div class="input-group-append submit-create-and-update" id="button-addon">
              <button class="btn btn-outline-primary" type="submit" value="update">Submit</button>
            </div>
        </div>
    </form>

    {% if notes %}
    <h2 class="display-2">Result</h2>
    <pre id="result">{{notes}}</pre>
    {% else %}
    <pre id="result"></pre>
    {% endif %}
  </div>

  <script type="text/javascript">
      function getOptionValue() {
        let modId = event.target.value;
        if (modId == 1 || modId == 3) {
          document.getElementById('button-addon-read-and-delete').style.display = "none";
          document.getElementById('form-create-and-update').style.display = "";
        } else {
          document.getElementById('button-addon-read-and-delete').style.display = "inline-block";
          document.getElementById('form-create-and-update').style.display = "none";
        }
      }
  </script>
  </body>
</html>